body {
  margin: 0px;
}

#viewDiv {
  background: #232227;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#feature-layer-name {
  font-style: italic;
}

#fl-error {
  background: #ffeeee;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

#fs-url {
  padding: 5px;
  width: 100%;
  background: white;
}

#play {
  padding: 5px;
  width: 15%;
  background: white;
  border-radius: 5px;
  border-width: 0px;
}

#selection {
  border-bottom-color: green;
  border-bottom-width: 4px;
}

#animation-time {
  border-bottom-color: green;
  border-bottom-width: 4px;
}

#github {
  float: right;
  top: 2px;
  right: 10px;
  position: absolute;
}

#viewDiv {
  flex: 1 1 auto;
  order: 1;
}

#ui-container {
  padding: 20px;
  width: 300px;
  overflow-y: scroll;
  max-height: 88vh;
}

.symbol-input {
  width: calc(100% - 8px);
  padding: 4px;
  margin-bottom: 16px;
}

.esri-view-width-greater-than-large .esri-ui-corner .esri-basemap-gallery {
  width: 310px;
}

@media only screen and (max-width: 540px) {
  #ui-container {
    width: calc(100% - 20px);
    padding: 10px;
  }

  #github {
    display: inline-block;
    position: absolute;
    height: 60px;
    width: 10px;
    padding: 54px;
  }

  .symbol-input {
    width: auto;
    min-width: 30px;
    padding: 4px;
    margin-bottom: 16px;
    display: block;
  }
}