body{
  margin: 0px;
}

#viewDiv {
  background: #232227;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#feature-layer-name {
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#fs-url {
  padding:5px;
  width: 100%;
  background: white;
  border-radius: 5px;
  border-width: 0px;
  border-bottom-color: green;
  border-bottom-width: 4px;
}

#play{
  padding:5px;
  width: 15%;
  background: white;
  border-radius: 5px;
  border-width: 0px;
}

#selection {
  border-bottom-color: green;
  border-bottom-width: 4px;
}

#animation-time {
  border-bottom-color: green;
  border-bottom-width: 4px;
}

#github {
  float: right;
  top: 10px;
  right: 10px;
  position: absolute;
}

#viewDiv {
  flex: 1 1 auto;
  order: 1;
}

#ui-container {
  top: 10px;
  z-index: 10;
  background-color: white;
  padding: 20px;
  width: 300px;
}

.esri-view-width-greater-than-large .esri-ui-corner .esri-basemap-gallery {
  width: 310px;
}

@media only screen and (max-width: 540px) {
  #ui-container {
      width: calc(100% - 20px);
      padding: 10px;
  }

  #github {
    display: inline-block;
    position: absolute;
    height: 60px;
    width: 10px;
    padding: 54px;
  }
}